.App {
  text-align: center;
}
*{
  font-size: 25px;
  
}
h1{
  color: gray;
  font-family:  'Trebuchet MS', sans-serif;
  font-size: 25px;
  margin-bottom: 20px;
}

li{
  list-style:none; 
  
}

.inputContenedor{
  width: 250px; 
  height: 50px;
  font-size: 15px;
  background-color:rgb(232, 229, 229);
  border: 3px solid rgb(119, 101, 101);
  border-radius: 7px 7px;
}

.btn-Agregar{
  width: 100px;
  height: 50px;
  margin-left: 15px;
  padding: 10px;
  font-size: 20px;
  font: bold;
  border-radius: 7px 7px;
  background:rgb(6, 107, 223);
  color: #fff;
}

.btnBorrar{
  width: 100px;
  height: 50px;
  padding: 13px;
  font-size: 20px;
  border-radius: 10px 10px ;
  color: white;
  background-color: red;
  margin-left: 20px;
}

